.form-row {
    width: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.library {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1000px;
}

.card {
    padding: 10px;
    margin: 5px;
    width: 150px;
    height: 120px;
    display: flex;
    flex-direction: column;
    border: 1px solid #D6D9DC;
    border-radius: 3px;
    box-shadow: 0px 4px 4px #888888;
}

.card-element-title {
    font-weight: bold;
}

.card-element-read {
    width: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card-element-read-yes {
    background-color: rgba(144, 238, 144, 0.1);
}

.card-element-read-no {
    background-color: rgba(255, 160, 122, 0.1);
}

.btn-delete {
    width: 60px;
    margin: auto;
}