.form-row {
    width: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.library {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1000px;
}

.card {
    padding: 5px;
    margin: 5px;
    width: 150px;
    height: 100px;
    display: flex;
    flex-direction: column;
    border: 1px solid #D6D9DC;
    border-radius: 3px;
    box-shadow: 0px 4px 4px #888888;
}